<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!-- Login -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUserDetailHome</servlet-name>
        <servlet-class>controller.ViewUserDetailHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOTP</servlet-name>
        <servlet-class>controller.VerifyOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderListServlet</servlet-name>
        <servlet-class>controller.OrderListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailServlet</servlet-name>
        <servlet-class>controller.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <servlet-class>controller.DeleteOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrderServlet</servlet-name>
        <servlet-class>controller.AddOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrderItemsServlet</servlet-name>
        <servlet-class>controller.AddOrderItemsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShipperOrderManagement</servlet-name>
        <servlet-class>controller.ShipperOrderManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShipperOrderDetailsServlet</servlet-name>
        <servlet-class>controller.ShipperOrderDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectDeliveryServlet</servlet-name>
        <servlet-class>controller.RejectDeliveryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmDeliveryServlet</servlet-name>
        <servlet-class>controller.ConfirmDeliveryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <!-- Register -->
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <!-- User Detail -->
    <servlet>
        <servlet-name>ViewUserDetail</servlet-name>
        <servlet-class>controller.ViewUserDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewUserDetail</servlet-name>
        <url-pattern>/viewuserdetail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddUserDetail</servlet-name>
        <servlet-class>controller.AddUserDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserDetail</servlet-name>
        <url-pattern>/adduserdetail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewUserList</servlet-name>
        <servlet-class>controller.ViewUserList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewUserList</servlet-name>
        <url-pattern>/ViewUserList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RejectUserListServlet</servlet-name>
        <servlet-class>controller.RejectUserListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RejectUserListServlet</servlet-name>
        <url-pattern>/rejectuserlist</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteUserListServlet</servlet-name>
        <servlet-class>controller.DeleteUserListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUserListServlet</servlet-name>
        <url-pattern>/DeleteUserListServlet</url-pattern>
    </servlet-mapping>
    <!-- Admin -->

    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/DashMin/admin</url-pattern>
    </servlet-mapping>
    <!-- Raw Flower -->
    <servlet>
        <servlet-name>RawFlowerServlet</servlet-name>
        <servlet-class>controller.RawFlowerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RawFlowerServlet</servlet-name>
        <url-pattern>/rawflower</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RawFlowerServlet</servlet-name>
        <url-pattern>/DashMin/rawflower</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RawFlowerServlet</servlet-name>
        <url-pattern>/DashMin/rawlower</url-pattern>
    </servlet-mapping>
    <!-- Contact -->
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>controller.ContactServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ContactListServlet</servlet-name>
        <servlet-class>controller.ContactListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContactListServlet</servlet-name>
        <url-pattern>/DashMin/contact-list</url-pattern>
    </servlet-mapping>
    <!-- Password Reset -->
    <servlet>
        <servlet-name>requestPassword</servlet-name>
        <servlet-class>controller.requestPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>requestPassword</servlet-name>
        <url-pattern>/requestPassword</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>resetPassword</servlet-name>
        <servlet-class>controller.resetPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>resetPassword</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <!-- Welcome Page -->
    <servlet-mapping>
        <servlet-name>ViewUserDetailHome</servlet-name>
        <url-pattern>/viewuserdetailhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOTP</servlet-name>
        <url-pattern>/VerifyOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderListServlet</servlet-name>
        <url-pattern>/orderManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailServlet</servlet-name>
        <url-pattern>/orderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <url-pattern>/deleteOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrderServlet</servlet-name>
        <url-pattern>/addOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrderItemsServlet</servlet-name>
        <url-pattern>/addOrderItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShipperOrderManagement</servlet-name>
        <url-pattern>/shipperDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShipperOrderDetailsServlet</servlet-name>
        <url-pattern>/shipperOrderDetails</url-pattern>
    </servlet-mapping>
    <!-- Cho phép container phục vụ ảnh upload động -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/upload/*</url-pattern>
    </servlet-mapping>
    <!-- Cho phép container phục vụ tài nguyên tĩnh của DashMin -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/DashMin/css/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/DashMin/js/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/DashMin/img/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/DashMin/scss/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/ZeShopper/css/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/ZeShopper/js/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/ZeShopper/images/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/ZeShopper/data/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/ZeShopper/fonts/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectDeliveryServlet</servlet-name>
        <url-pattern>/RejectDeliveryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmDeliveryServlet</servlet-name>
        <url-pattern>/ConfirmDeliveryServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <listener>
    <listener-class>scheduler.AppInitializer</listener-class>
    </listener>
</web-app>
