<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUserDetail</servlet-name>
        <servlet-class>controller.ViewUserDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RawFlowerServlet</servlet-name>
        <servlet-class>controller.RawFlowerServlet</servlet-class>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>controller.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>requestPassword</servlet-name>
        <servlet-class>controller.requestPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetPassword</servlet-name>
        <servlet-class>controller.resetPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUserDetail</servlet-name>
        <url-pattern>/viewuserdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RawFlowerServlet</servlet-name>
        <url-pattern>/DashMin/rawflower</url-pattern>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>requestPassword</servlet-name>
        <url-pattern>/requestPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetPassword</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
